* {
	margin: 0;
	padding: 0;
	border: none;
}
body, html {
	background: #eee;
}
a, li, input, button {
	text-decoration: none;
	list-style: none;
	outline: none;
}
header, footer {
	height: 50px;
	overflow: hidden;
	font-size: 14px;
}
header {
	background-color: #333;
}
footer {
	text-align: center;
	color: #333;
}
h1 {
	font-size: 30px;
	margin: 20px 0;
}

.wrap {
	width: 700px;
	margin: 0 auto;
}


.title {
	line-height: 50px;
	text-shadow: 0 0 10px #e67e22;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.clear,
.input {
	float: right;
	height: 30px;
	box-sizing: border-box;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5) inset;
	border-radius: 10px;
	margin: 10px;
}
.clear {
	width: 50px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.input {
	width: 300px;
	padding: 0 10px;
}


.total {
	float: right;
	width: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #333;
	color: #fff;
}
.item {
	position: relative;
	height: 50px;
	line-height: 50px;
	margin: 10px 0;
	background-color: #fff;
	border: 2px solid #333;
	border-left-width: 15px;
	border-radius: 10px;
	overflow: hidden;
}
.finished_list .item {
	opacity: .5;
}
.item_checkbox {
	position: absolute;
	left: 0;
	width: 20px;
	height: 50px;
	margin-left: 20px;
	z-index: 2;
}
.item_text {
	position: absolute;
	left: 0;
	max-width: 550px;
	font-size: 20px;
	margin-left: 60px;
	cursor: move;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	z-index: 1;
}
.item_changeText {
	float: left;
	width: 500px;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	font-size: 20px;
	border: 1px solid #ccc;
}
.item_delete {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	height: 100%;
	border-left: 2px  solid #333;
	background-color: #e67e22;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}

